html {
    background: #e0e0e0;
  }
  
  .page-header {
    height: 50px;
    background-color: #507cff;

  }

  .page-header_1 {
    height: 150px;
  }


  .slogan_text {
      font-size: 30px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      margin: 40px;
      text-decoration: none;
      color: black;
      font-weight: 50;
      text-align: center;
  }



  .logo_image {
      padding: 20px;
      padding-bottom: 20px;
      font-weight: bold;

  }
  .logo_image:hover {
      text-decoration: none;
      font-weight: normal;
  }
  
  .page-header .uk-navbar-nav > li > a,
  .page-header .uk-icon-link,
  .page-header .uk-icon-link:hover {
    color: #333;
    font-size: 20px;
  }
  
  .page-header .uk-navbar-nav > li > a {
    padding: 0 50px;
  }
  
  .page-header .uk-navbar-nav > li > a:hover {
    background: #00b3ff;
  }
  
  .page-header .multi .uk-navbar-dropdown {
    padding: 0 25px;
  }
  
  .page-header .uk-navbar-dropdown-nav .uk-nav-header a {
    color: #1c1c1c;
    font-size: 20px;
    text-transform: uppercase;
  }

 .contact_text {
     font-size: 20px;
     text-transform: lowercase;
 }

.page-header .uk-navbar-dropdown-nav .uk-nav-header a:hover {
    color:#00b3ff;
}

  
  .page-header [class*="uk-column-"] > li {
    padding: 25px 0;
  }
  
  .page-header [class*="uk-column-"] > li:not(:last-child) {
    border-right: 1px solid #e5e5e5;
  }
  
  .page-header [class*="uk-column-"] .uk-icon {
    color: #c6c6c6;
  }
  
  .offcanvas .uk-nav-header {
    color: rgba(246, 247, 249, 0.5);
  }
  
  .offcanvas .top-menu > li + li {
    margin-top: 10px;
  }
  
  .offcanvas .sub-menu {
    border-left: 1px solid #484848;
  }
  
  .offcanvas .sub-menu li {
    padding-left: 30px;
  }
  
  .offcanvas .sub-menu li.uk-nav-header {
    padding-left: 10px;
  }
  
  .banner {
    height: calc(100vh - 80px);
  }
  
  /* FOOTER STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    position: fixed;
    right: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 1;
  }
  
  .page-footer a {
    display: flex;
    margin-left: 7px;
  }
  