@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Raleway&display=swap');


:root{
    --main-color: rgba(59, 130, 246, 0.9);
    --complimentary-color: rgba(255, 255, 255, .9);
    --accent-color: rgba(0, 0, 0, 0.9);

    --primary-font: 'Raleway';
    --secondary-font: 'Poppins';
}

body{
    font-family: 'Raleway' ;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', 'Open-sans';
}

h1.heading{
    font-weight: 800;
    font-size: 2.5rem;
}


/* header styling */

#navbar a{
    color: var(--complimentary-color);
    transition: color 300ms ease-in-out;
    /* color: rgba(137, 12, 148, 0.9),rgba(12, 128, 148, 0.9),rgba(12, 148, 80, 0.9); */
}

#navbar a:hover{
    color: var(--accent-color);
}

main {
    overflow-x: hidden;
}
/* *{
    overflow-x: hidden;
} */

