@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Raleway&display=swap');

:root{
    --main-color: rgba(59, 130, 246);
    --complimentary-color: rgba(255, 255, 255);
    --accent-color: rgba(0, 0, 0);

    --primary-font: 'Roboto';
    --secondary-font: 'Roboto';
}

  /* .navbar {
    border-bottom: 1px solid #BBBBBB;
  }
  
  .nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #031D44;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  } */
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }
  
  /* .nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }
  
  .nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
  }
  
  .nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
  }
  
  .nav-link-grow-up:hover::before {
    height: 5px;
  } */




