@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Raleway&display=swap');

:root{
    --main-color: rgba(59, 130, 246);
    --complimentary-color: rgba(255, 255, 255);
    --accent-color: rgba(0, 0, 0);

    --primary-font: 'Roboto';
    --secondary-font: 'Roboto';
}

  .mobile-nav{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 4rem;
    background-color: var(--main-color);
  }




